@using Norexia.Core.Facade.Client.Sdk;
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns

<div class="row">
    <div class="col-6 mt-1 pt-1">
        <div class="switch-control mt-2">
            <SfRadioButton Label="Particulier" Name="ClientType" Value=@ClientType.Particular.ToString() @bind-Checked="@ClientCommand!.ClientType" @onchange="OnClientTypeChange"></SfRadioButton>
            <SfRadioButton Label="Société" Name="ClientType" Value=@ClientType.Company.ToString() @bind-Checked="@ClientCommand!.ClientType" @onchange="OnClientTypeChange"></SfRadioButton>
        </div>

        <ValidationMessage For="@(() => ClientCommand!.ClientType)"></ValidationMessage>
    </div>
    <div class="col-6 mt-1 pt-1">
        <SfTextBox @bind-Value=ClientCommand!.Reference Placeholder='Référence' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
        <ValidationMessage For="@(() => ClientCommand!.Reference)"></ValidationMessage>
    </div>
    @if (ClientCommand!.ClientType == ClientType.Company)
    {
        <div class="col-6 mt-1 pt-1">
            <SfTextBox @bind-Value=ClientCommand!.SocialReason Placeholder='Raison social' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
            <ValidationMessage For="@(() => ClientCommand!.SocialReason)"></ValidationMessage>
        </div>
        <div class="col-6 mt-1 pt-1">
            <SfTextBox @bind-Value=ClientCommand!.ICE Placeholder='ICE' FloatLabelType="FloatLabelType.Auto"></SfTextBox>
            <ValidationMessage For="@(() => ClientCommand!.ICE)"></ValidationMessage>
        </div>
    }
    <div class="col-6 mt-1 pt-1">
        <SfDropDownList TValue="Guid?" Placeholder="Catégorie" TItem="CustomerCategoryDto" @bind-Value="@ClientCommand!.CustomerCategoryId" DataSource="@CustomerCategories" FloatLabelType="FloatLabelType.Auto">
            <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
        </SfDropDownList>
        <ValidationMessage For="@(() => ClientCommand!.CustomerCategoryId)"></ValidationMessage>
    </div>
</div>
