@using NorexiaGestionCommercialeWebUI.Models
@using Syncfusion.Blazor.Grids
@using Norexia.Core.Facade.Client.Sdk
@using Syncfusion.Blazor.Inputs;
@using NorexiaGestionCommercialeWebUI.Models.Product;

<h2 class="section-header">Gestion des canaux de vente</h2>

<SfGrid DataSource="@ProductAvailabilities" Toolbar="@(new List<string>() { "Add", "Edit", "Delete"})">
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowDeleteConfirmDialog="true" Mode="EditMode.Dialog">
        <Template>
            @{
                <FluentValidator TValidator="ProductAvailabilityDtoValidator"></FluentValidator>
                var availability = (context as ProductAvailabilityDto);
                <div>
                    <div class="form-row">

                        <div class="form-group">
                            <SfTextBox @bind-Value=availability!.Name Placeholder="désignation" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                            <ValidationMessage For="@(()=>availability!.Name)"></ValidationMessage>
                        </div>
                    </div>

                    <div class="validation-message">@DialogValidationMessage</div>
                </div>
            }
        </Template>
    </GridEditSettings>
    <GridEvents OnActionBegin="OnAvailabilityActionBegin" TValue="ProductAvailabilityDto"></GridEvents>
    <GridColumns>
        <GridColumn Field=@nameof(PriceGroupDto.Id) IsPrimaryKey="true" TextAlign="TextAlign.Right" Visible=false></GridColumn>
        <GridColumn Field=@nameof(PriceGroupDto.Name) HeaderText="Désignation"></GridColumn>
    </GridColumns>
</SfGrid>
